* {
  box-sizing: border-box;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 4em;
    text-align: center;
    margin-bottom: -10px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.25em;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 10px;
}

a:link, a:visited {
    color: #333;
}

a:hover {
    color: #777;
    text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    border-top: 1px #333 solid;
    border-bottom: 1px #333 solid;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

#buttonPrev {
    z-index: 100;
    position: absolute;
    top: 2%;
    left: 35%;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

#buttonNext {
    z-index: 100;
    position: absolute;
    top: 2%;
    left: 55%;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.caption {
    position: absolute;
    top: 95%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

#lightboxContent {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    overflow: auto;
    z-index: 1002;
    text-align: center;
}

.carousel {
    padding-bottom: 20px;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.glyphicon-chevron-right:before {
    content: none;
}

.glyphicon-chevron-left:before {
    content: none;
}

.container-fluid {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.text-muted {
    color: #777;
    margin-top: 10px;
    text-align: center;
}

@media screen and (min-width:768px) {
	.brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
        min-height: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 15px 25px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1em;
    }
}